.cadAutor{
  width: 98%;
  padding: 30px;
  margin: 0 auto;
}
.formulario{
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
#nomeAutor{
  width: 20%;
}
#descAutor{
  width: 20%;
}
.titulo{
  font-family: 'Calibri', sans-serif ;
  font-size: 2rem;
}

