.cadLeitor{
  background-color: #fff;
  padding: 1.5rem;
  width: 95%;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.titLeitor{
  font-family: 'Calibri', sans-serif ;
  font-size: 2rem;
}
.tabela{
  display: flex;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 0 0 8px rgb(0, 0, 0, 0.3);
}

  h1{
    margin: 0;
  }
.header{
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabela{
  width: 100%;
  max-height: 26rem;
  overflow-y: auto;
  table{
    width: 100%;
    min-width: max-content;
  }
  th,td{
    padding-right: 2rem;
  }
}
#nomeLeitor{
  width: 100%;
}
#emailLeitor{
  width: 100%;
}
#endRuaLeitor{
  width: 100%;
}
#endBairroLeitor{
  width: 100%;
}
#endCidadeLeitor{
  width: 100%;
}
.coluna01 {
  width: 31%;
  right: 1%;
  position: relative;
}
.coluna02{
  width: 31%;
  position: relative;
}
.coluna03{
  width: 31%;
  left: 1%;
  position: relative;
}

.feminino{
  padding-bottom: 10%;
  padding-top: 1%;
  left: 8%;

  position: relative;
}
.masculino{
  padding-bottom: 9%;
  padding-top: 1%;
  left: 4%;

  position: relative;
}
.dataNascimento{
  bottom: 2rem;
  position: relative;
}
#cpfLeitor{
  bottom: 2rem;
}
