
<section class="cadLeitor">
  <div class="header">
    <h1 class="titLeitor">Cadastro Leitor</h1>
    <button mat-fab color="primary" matTooltip="Cadastrar Leitor" (click)="openDialog(null)">
      <mat-icon class="mat-18">add</mat-icon>
    </button>
  </div>
  <div class="tabela">
    <table mat-table #tabelaLeitor [dataSource]="leitor" class="tabelaLeitor">
      <ng-container matColumnDef="codLeitor">
        <th mat-header-cell id="codLeitor" *matHeaderCellDef> Código </th>
        <td mat-cell id="codLeitor" *matCellDef="let leitor"> {{leitor.codLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeLeitor">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.nomeLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="sexoLeitor">
        <th mat-header-cell *matHeaderCellDef> Sexo </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.sexoLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="dataNascimentoLeitor">
        <th mat-header-cell *matHeaderCellDef> Data de Nascimento </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.dataNascimentoLeitor | date:'dd/MM/yyyy'}} </td>
      </ng-container>

      <ng-container matColumnDef="cpfLeitor">
        <th mat-header-cell *matHeaderCellDef> CPF </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.cpfLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="rgLeitor">
        <th mat-header-cell *matHeaderCellDef> RG </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.rgLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="emailLeitor">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.emailLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="telefLeitor">
        <th mat-header-cell *matHeaderCellDef> telefone </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.telefLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="cellLeitor">
        <th mat-header-cell *matHeaderCellDef> Celular </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.cellLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="endRuaLeitor">
        <th mat-header-cell *matHeaderCellDef> end. Rua </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.endRuaLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="endBairroLeitor">
        <th mat-header-cell *matHeaderCellDef> end. Bairro </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.endBairroLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="endCidadeLeitor">
        <th mat-header-cell *matHeaderCellDef> end. Cidade </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.endCidadeLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="endCEPLeitor">
        <th mat-header-cell *matHeaderCellDef> end. CEP </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.endCEPLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="endUFLeitor">
        <th mat-header-cell *matHeaderCellDef> end. UF </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.endUFLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="endNumeroLeitor">
        <th mat-header-cell *matHeaderCellDef> end. N° </th>
        <td mat-cell *matCellDef="let leitor"> {{leitor.endNumeroLeitor}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let leitor">
          <button mat-icon-button (click)="updateLeitor(leitor)" >
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="deleteLeitor(leitor.codLeitor)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>


<!--
<section class="cadLeitor">
  <form class="frmLeitor">
    <div>
       <h1 class="titLeitor">Cadastro Leitor</h1>
    </div>

    <div class="linha">

      <div class="coluna01">

        <div>
          <mat-form-field id='codLeitor' appearance="fill">
            <mat-label>Código</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="nomeLeitor" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div>
          <label for="">Sexo: </label>
          <mat-radio-button class="masculino" value="M" color="primary">Masculino</mat-radio-button>
          <mat-radio-button class="feminino" value="F" color="primary">Feminino</mat-radio-button>
        </div>

        <div>
          <mat-form-field class="dataNascimento" appearance="fill">
            <mat-label>Data de Nascimento</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-hint>DD/MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="cpfLeitor" appearance="fill">
            <mat-label>CPF</mat-label>
            <input matInput>
          </mat-form-field>
        </div>



      </div>
fim Coluna01
      <div class="coluna02">

        <div>
          <mat-form-field id="rgLeitor" appearance="fill">
            <mat-label>RG</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="emailLeitor" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="telefLeitor" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="cellLeitor" appearance="fill">
            <mat-label>Celular</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="endRuaLeitor" appearance="fill">
            <mat-label>Rua</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

      </div>
      fim Coluna 02

      <div class="coluna03">

        <div>
          <mat-form-field id="endBairroLeitor" appearance="fill">
            <mat-label>Bairro</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="endCidadeLeitor" appearance="fill">
            <mat-label>Cidade</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="endCepLeitor" appearance="fill">
            <mat-label>CEP</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="CbTipoIntem" appearance="fill">
            <mat-label>UF</mat-label>
            <mat-select>
                <mat-option *ngFor="let Uf of Ufs" [value]="Uf.value">
                  {{Uf.viewValue}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="endNumeroLeitor" appearance="fill">
            <mat-label>Número</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

      </div>
    </div>
     fim Linha
    <div class="botoes">
      <app-app-botao-salvar-excluir></app-app-botao-salvar-excluir>
    </div>
  </form>
</section> -->
