.SalvarExcluir{
  margin: auto;
}

.SalvarExcluir button:hover{
  transform: scale(1.1);
}
#salvar:hover{
  box-shadow: 0 0 8px rgba(40, 221, 40, 10);
}
#salvar{
  margin-right: 1%;
  background-color: rgb(40, 221, 40);
  color: #fff;
}
#excluir{
  background-color: rgb(233, 94, 94);
  color: #fff;
}
#excluir:hover{
  box-shadow: 0 0 8px rgba(233, 94, 94, 10);
}
