@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
  font-family: 'Open Sans', sans-serif;
}
.menu-h{
  width: 99%;
  padding: 0.7%;
  margin: 0 auto;
}
.frmMenu{

  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.menu{
  list-style: none;
  background-color: rgb(255, 255, 255);
  padding: 0;
  div{
    float: left;
    margin-top: 0.4%;
    margin-left: 1.5%;
    margin-right: 2%;
    display: inline;
  }
  li{
    display: inline;
  }
  .img-logo
  {
    width: 60px;
  }
  li a {
    color: rgb(0, 0, 0);
    padding-top: 1.6%;
    padding-left: 1%;
    padding-right: 3%;
    padding-bottom: 1.6%;
    display: inline-block;
    text-decoration: none;
  }
  li a:hover{
    background-color: rgb(153, 177, 223);
    transition: all .4s;
  }

}


