<div class="cadSecao">

  <h1 *ngIf="isChange" mat-dialog-title>Atualizar Seção</h1>
  <h1 *ngIf="!isChange" mat-dialog-title>Cadastrar Seção</h1>
  <div mat-dialog-content >

    <div id="nomeSecao">
      <mat-form-field id="nomeSecao" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="data.nomeSecao">
      </mat-form-field>
    </div>


  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button *ngIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Atualizar</button>
    <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Cadastrar</button>
  </div>
</div>
