.consultaReserva {
  list-style: none;
  padding: 0;
}
li{
  display: inline;
}
li a {
  color: rgb(0, 0, 0);
  padding-top: 20.3%;
  padding-left: 13.35%;
  padding-right: 13.35%;
  padding-bottom: 20.3%;
  display: inline-block;
  text-decoration: none;
  background-image: radial-gradient(circle, rgb(209, 204, 204), rgb(219, 214, 214) );
}
li a:hover{
  background-image: radial-gradient(circle, rgb(219, 214, 214), rgb(160, 157, 157) );
}
