

.consultaReserva{
  width: 98%;
  padding: 1.7%;
  margin: 0 auto;
}
.frmConsultaReserva{
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.linha{
  display: flex;
  flex-flow: row wrap;
}
.coluna01 {
  width: 48%;
  right: 1%;
  position: relative;
}
.coluna02{
  width: 48%;
  right: 8%;
  position: relative;
}
.titConsultaReserva{
  font-family: 'Calibri', sans-serif ;
  font-size: 2rem;
}
.f3Item{
  div{
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
  }
}
.f3Leitor{
  div{
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
  }
}
.f3Autor{
  div{
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
  }
}
.f3Secao{
  div{
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
  }
}


.f3-item{
  cursor: pointer;
  border-radius:100%;
}
.f3-leitor{
  cursor: pointer;
  border-radius: 100%;
}
.f3-autor{
  cursor: pointer;
  border-radius:100%;
}
.f3-secao{
  cursor: pointer;
  border-radius:100%;
}
