<section class="cadItemAcervo">
  <form class="frmItemAcervo">
    <div>
       <h1 class="titItemAcervo">Cadastro Item Acervo</h1>
    </div>

    <div>
      <mat-form-field id='codItem' appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field id="nomeItem" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field id='codLocal' appearance="fill">
        <mat-label>Código Local</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field id="nomeLocal" appearance="fill">
        <mat-label>Nome Local</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field id="codAutor" appearance="fill">
        <mat-label>Código Autor</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>

    </div>
    <app-app-botao-salvar-excluir></app-app-botao-salvar-excluir>
  </form>
</section>
