.cadLeitor{
  width: 98%;
  padding: 1.7%;
  margin: 0 auto;
}
.frmLeitor{
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
.linha{
  display: flex;
  flex-flow: row wrap;
}
#nomeLeitor{
  width: 100%;
}
#emailLeitor{
  width: 100%;
}
#endRuaLeitor{
  width: 100%;
}
#endBairroLeitor{
  width: 100%;
}
#endCidadeLeitor{
  width: 100%;
}
.titLeitor{
  font-family: 'Calibri', sans-serif ;
  font-size: 2rem;
}
.coluna01 {
  width: 31%;
  right: 1%;
  position: relative;
}
.coluna02{
  width: 31%;
  position: relative;
}
.coluna03{
  width: 31%;
  left: 1%;
  position: relative;
}

.feminino{
  padding-bottom: 9%;
  padding-top: 4%;
  left: 8%;

  position: relative;
}
.masculino{
  padding-bottom: 9%;
  padding-top: 4%;
  left: 4%;

  position: relative;
}
