<section class="cadItemAcervo">
  <form class="frmItemAcervo">
    <div>
       <h1 class="titItemAcervo">Cadastro Item Acervo</h1>
    </div>

    <div class="linha">

      <div class="coluna01">
        <div>
          <mat-form-field id='codItem' appearance="fill">
            <mat-label>Código</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="nomeItem" appearance="fill">
            <mat-label>Nome</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div class="f3Local">
          <div>
            <mat-form-field id='codLocal' appearance="fill">
              <mat-label>Código Local</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="f3-local" (click)="modalLocal.toggleLocal()">
            <mat-icon>search</mat-icon>
          </div>
          <app-modal-f3-local #modalLocal></app-modal-f3-local>
        </div>

        <div>
          <mat-form-field id="nomeLocal" appearance="fill">
            <mat-label>Nome Local</mat-label>
            <input matInput>
          </mat-form-field>
        </div>

        <div class="f3Autor">

          <div>
            <mat-form-field id="codAutor" appearance="fill">
              <mat-label>Código Autor</mat-label>
              <input matInput>
            </mat-form-field>
          </div>
          <div class="f3-autor" (click)="modalAutor.toggleAutor()">
            <mat-icon>search</mat-icon>
          </div>
          <app-modal-f3-autor #modalAutor></app-modal-f3-autor>
          <div>
            <mat-label></mat-label>
          </div>
        </div>

      </div>
<!-- fim Coluna01 -->
      <div class="coluna02">

        <div class="f3Editora">
          <div>
            <mat-form-field id="codEditora" appearance="fill">
              <mat-label>Código Editora</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>
          <div class="f3-editora" (click)="modalEditora.toggleEditora()">
            <mat-icon>search</mat-icon>
          </div>
          <app-modal-f3-editora #modalEditora></app-modal-f3-editora>
          <div>
            <mat-label></mat-label>
          </div>
        </div>

        <div>
          <mat-form-field id="CbTipoIntem" appearance="fill">
            <mat-label>Tipo do Item</mat-label>
            <mat-select>
                <mat-option *ngFor="let Tipo of Tipos" [value]="Tipo.value">
                  {{Tipo.viewValue}}
                </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="numExemplar" appearance="fill">
            <mat-label>Número do Exemplar</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

        <div>
          <mat-form-field id="volItem" appearance="fill">
            <mat-label>Volume</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

      </div>
      <!-- fim Coluna 02 -->

      <div class="coluna03">

        <div>
          <mat-form-field id="anoEdicao" appearance="fill">
            <mat-label>Ano da Edição</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

        <div class="f3Secao">
          <div>
            <mat-form-field id="secao" appearance="fill">
              <mat-label>Seção</mat-label>
              <input matInput type="text">
            </mat-form-field>
          </div>
          <div class="f3-secao" (click)="modalSecao.toggleSecao()">
            <mat-icon>search</mat-icon>
          </div>
          <app-modal-f3-secao #modalSecao></app-modal-f3-secao>
          <div>
            <mat-label></mat-label>
          </div>
        </div>

        <div>
          <mat-form-field id="local" appearance="fill">
            <mat-label>Local</mat-label>
            <input matInput type="text">
          </mat-form-field>
        </div>

      </div>
    </div>
    <!-- fim Linha -->
    <div class="botoes">
      <app-app-botao-salvar-excluir></app-app-botao-salvar-excluir>
    </div>
  </form>
</section>
