<section class="cadEditora">
  <form class="frmEditora">
    <div>
       <h1 class="titEditora">Cadastro Editora</h1>
    </div>

    <div>
      <mat-form-field id='codEditora' appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field id="nomeEditora" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <app-app-botao-salvar-excluir></app-app-botao-salvar-excluir>
  </form>
</section>
