<section class="cadLocal">
  <div class="header">
    <h1 class="titLocal">Cadastro Local</h1>
    <button mat-fab color="primary" matTooltip="Cadastrar Local" (click)="openDialog(null)" >
      <mat-icon class="mat-18">add</mat-icon>
    </button>
  </div>
  <div class="tabela">
    <table mat-table #tabelaLocal [dataSource]="local" class="tabelaLocal">
      <ng-container matColumnDef="codLocal">
        <th mat-header-cell *matHeaderCellDef> Código </th>
        <td mat-cell *matCellDef="let local"> {{local.codLocal}} </td>
      </ng-container>

      <ng-container matColumnDef="nomeLocal">
        <th mat-header-cell *matHeaderCellDef> Nome </th>
        <td mat-cell *matCellDef="let local"> {{local.nomeLocal}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let local">
          <button mat-icon-button (click)="updateLocal(local)" >
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="deleteLocal(local.codLocal)" >
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</section>

<!-- <section class="cadLocal">
  <form class="frmLocal">
    <div>
       <h1 class="titLocal">Cadastro Local</h1>
    </div>

    <div>
      <mat-form-field id='codLocal' appearance="fill">
        <mat-label>Código</mat-label>
        <input matInput>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field id="nomeLocal" appearance="fill">
        <mat-label>Nome</mat-label>
        <input matInput>
      </mat-form-field>
    </div>


    <app-app-botao-salvar-excluir></app-app-botao-salvar-excluir>
  </form>
</section> -->
