<div class="cadItem">

  <h1 *ngIf="isChange" mat-dialog-title>Atualizar Item</h1>
  <h1 *ngIf="!isChange" mat-dialog-title>Cadastrar Item</h1>
  <div mat-dialog-content >



        <div class="linha">

          <div class="coluna01">

            <div>
              <mat-form-field id='codItem' appearance="fill">
                <mat-label>Código</mat-label>
                <input matInput [(ngModel)]="data.codItem">
              </mat-form-field>
            </div>

            <div >
              <mat-form-field id="nomeItem" appearance="fill" >
                <mat-label>Nome</mat-label>
                <input matInput [(ngModel)]="data.nomeItem">
              </mat-form-field>
            </div>


            <div class="f3Local">

              <div *ngIf="!isValidLocal">
                <mat-form-field id='codLocal' appearance="fill">
                  <mat-label>Código do Local</mat-label>
                  <mat-select [(ngModel)]="data.codLocal">
                      <mat-option *ngFor="let Local of Locais" [value]="Local.codLocal" (click)="f3codLocal()">
                        {{Local.codLocal}} / / {{Local.nomeLocal}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

                <div *ngIf="isValidLocal">
                  <mat-form-field (click)="f3codLocal()" id='codLocal' appearance="fill">
                    <mat-label>Código do Local</mat-label>
                    <mat-select [(ngModel)]="data.codLocal">
                        <mat-option *ngFor="let Local of Locais" [value]="Local.codLocal">
                          {{data.codLocal}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
            </div>

            <div *ngIf="!isValidLocal">
              <mat-form-field id="nomeLocal" appearance="fill">
                <mat-label>Nome Local</mat-label>
                <input matInput [(ngModel)]="data.nomeLocal">
              </mat-form-field>
            </div>

            <div *ngIf="isValidLocal">
              <mat-form-field id="nomeLocal" appearance="fill">
                <mat-label>Nome Local</mat-label>
                <input matInput [(ngModel)]="data.nomeLocal" [value]="local.nomeLocal">
              </mat-form-field>
            </div>

            <div class="f3Autor">

              <div *ngIf="!isValidAutor">
                <mat-form-field id="codAutor" appearance="fill" >
                  <mat-label>Código do Autor</mat-label>
              <mat-select  [(ngModel)]="data.codAutor">
                  <mat-option *ngFor="let Autor of Autores"  [value]="Autor.codAutor" (click)="f3codAutor()">
                    {{Autor.codAutor}} / / {{Autor.nomeAutor}}
                  </mat-option>
              </mat-select>
                </mat-form-field>
              </div>

              <div *ngIf="isValidAutor" >
                <mat-form-field (click)="f3codAutor()" id="codAutor" appearance="fill" >
                  <mat-label>Código do Autor</mat-label>

                  <mat-select  [(ngModel)]="data.codAutor">
                      <mat-option *ngFor="let Autor of Autores"  [value]="Autor.codAutor" >
                        {{data.codAutor}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>

          </div>

     <!--fim Coluna01-->
          <div class="coluna02">

            <div *ngIf="!isValidAutor">
              <mat-form-field id="nomeAutor" appearance="fill">
                <mat-label>Autor</mat-label>
                <input matInput [(ngModel)]="data.nomeAutor">
              </mat-form-field>
            </div>

            <div *ngIf="isValidAutor">
              <mat-form-field id="nomeAutor" appearance="fill">
                <mat-label>Autor</mat-label>
                <input matInput [(ngModel)]="data.nomeAutor" [value]="autor.nomeAutor">
              </mat-form-field>
            </div>

            <div class="f3Editora">

              <div *ngIf="!isValidEditora">
                <mat-form-field id="codEditora" appearance="fill">
                  <mat-label>Código Editora</mat-label>
                  <mat-select [(ngModel)]="data.codEditora">
                    <mat-option *ngFor="let Editora of Editoras" [value]="Editora.codEditora" (click)="f3codEditora()">
                      {{Editora.codEditora}} / / {{Editora.nomeEditora}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </div>

              <div *ngIf="isValidEditora">
                <mat-form-field id="codEditora" appearance="fill" (click)="f3codEditora()">
                  <mat-label>Código Editora</mat-label>
                  <mat-select [(ngModel)]="data.codEditora">
                    <mat-option *ngFor="let Editora of Editoras" [value]="Editora.codEditora">
                      {{data.codEditora}}
                    </mat-option>
                </mat-select>
                </mat-form-field>
              </div>

            </div>

            <div *ngIf="!isValidEditora">
              <mat-form-field id="nomeEditora" appearance="fill">
                <mat-label>Editora</mat-label>
                <input matInput [(ngModel)]="data.nomeEditora">
              </mat-form-field>
            </div>

            <div *ngIf="isValidEditora">
              <mat-form-field id="nomeEditora" appearance="fill">
                <mat-label>Editora</mat-label>
                <input matInput [(ngModel)]="data.nomeEditora" [value]="editora.nomeEditora">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field id="CbTipoIntem" appearance="fill">
                <mat-label>Tipo do Item</mat-label>
                <mat-select [(ngModel)]="data.tipoItem">
                    <mat-option *ngFor="let Tipo of Tipos" [value]="Tipo.value" >
                      {{Tipo.viewValue}}
                    </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-form-field id="numExemplar" appearance="fill">
                <mat-label>Número do Exemplar</mat-label>
                <input matInput [(ngModel)]="data.numExemplar">
              </mat-form-field>
            </div>

          </div>
           <!--fim Coluna 02 -->

          <div class="coluna03">

            <div>
              <mat-form-field id="volItem" appearance="fill">
                <mat-label>Volume</mat-label>
                <input matInput [(ngModel)]="data.volItem">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field id="anoEdicao" appearance="fill">
                <mat-label>Ano da Edição</mat-label>
                <input matInput [(ngModel)]="data.anoEditItem">
              </mat-form-field>
            </div>

            <div class="f3Secao">
              <div >
                <mat-form-field id="codSecao" appearance="fill">
                  <mat-label>Código da Seção</mat-label>
                  <mat-select [(ngModel)]="data.secaoItem">
                      <mat-option *ngFor="let Secao of Secoes" [matTooltip]="Secao.nomeSecao" [value]="Secao.codSecao" (click)="f3codSecao()">
                        {{Secao.codSecao}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <!-- <div *ngIf="isValidSecao">
                <mat-form-field id="codSecao" appearance="fill" (click)="f3codSecao()">
                  <mat-label>Código da Seção</mat-label>
                  <mat-select [(ngModel)]="data.secaoItem">
                      <mat-option *ngFor="let Secao of Secoes" [value]="Secao.codSecao" >
                        {{data.secaoItem}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->
            </div>

            <div *ngIf="!isValidSecao">
              <mat-form-field id="nomeSecao" appearance="fill">
                <mat-label>Seção</mat-label>
                <input matInput >
              </mat-form-field>
            </div>

            <div *ngIf="isValidSecao">
              <mat-form-field id="nomeSecao" appearance="fill">
                <mat-label>Seção</mat-label>
                <input matInput [value]="secao.nomeSecao">
              </mat-form-field>
            </div>

            <div>
              <mat-form-field id="local" appearance="fill">
                <mat-label>Local</mat-label>
                <input matInput [(ngModel)]="data.localizacaoItem">
              </mat-form-field>
            </div>

          </div>
        </div>
         <!--fim Linha-->
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancelar</button>
    <button *ngIf="isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Atualizar</button>
    <button *ngIf="!isChange" mat-button [mat-dialog-close]="data" cdkFocusInitial>Cadastrar</button>
  </div>
</div>
