.cadItemAcervo{
  width: 98%;
  padding: 1.7%;
  margin: 0 auto;
}
.frmItemAcervo{
  background-color: white;
  padding: 16px;
}
.linha{
  display: flex;
  flex-flow: row wrap;
}
#nomeItem{
  width: 105%;
}
#nomeLocal{
  width: 105%;
}
#nomeAutor{
  width: 105%;
}
#nomeEditora{
  width: 105%;
}
#nomeSecao{
  width: 105%;
}
.titItemAcervo{
  font-family: 'Calibri', sans-serif ;
  font-size: 2rem;
}
.coluna01 {
  width: 31%;
  right: 1%;
  position: relative;
}
.coluna02{
  width: 31%;
  position: relative;
}
.coluna03{
  width: 31%;
  left: 1%;
  position: relative;
}
.f3Autor{
  div{
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
  }
}
.f3Secao{
  div{
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
  }
}
.f3Editora{
  div{
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
  }
}
.f3Local{
  div{
    display: inline-block;
    position: relative;
    margin-right: 0.5rem;
  }
}
.f3-autor{
  cursor: pointer;
  border-radius:100%;
}
.f3-secao{
  cursor: pointer;
  border-radius:100%;
}
.f3-editora{
  cursor: pointer;
  border-radius:100%;
}
.f3-local{
  cursor: pointer;
  border-radius:100%;
}
