.cadLocal{
  width: 98%;
  padding: 1.7%;
  margin: 0 auto;
}
.frmLocal{
  background-color: white;
  padding: 16px;
  border-radius: 4px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}
#nomeLocal{
  width: 30%;
}
.titLocal{
  font-family: 'Calibri', sans-serif ;
  font-size: 2rem;
}
